@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #9C9C9C;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #0D0D11;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 50px;
  background: #3D96F4;
  color: #FFF;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 20px;
  /* 160% */
  letter-spacing: 0.125rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.button--fw {
  width: 100%;
}

.button-dark {
  background: rgba(129, 129, 139, 0.2);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button-dark:hover {
  background: #3D96F4;
}

.button-darkinsight {
  border-radius: 12px;
  color: #9C9C9C;
  border: 1px solid rgba(129, 129, 139, 0.2);
  background-color: inherit;
  font-size: 10.8px;
  font-weight: 300;
  line-height: 17.28px;
  /* 160% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  color: #FFF;
  font-weight: 500;
  line-height: 3.84rem;
  /* 120% */
}

.text {
  font-weight: 300;
  line-height: 1.6875rem;
  /* 150% */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0D0D11;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 12;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__cart {
  position: relative;
  z-index: 12;
}

.header__button {
  position: relative;
  z-index: 12;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__link {
  color: #FFF;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6rem;
  /* 160% */
}

.menu__link:hover {
  color: #9C9C9C;
}

.cart-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  color: #FFF;
}

.cart-header__text {
  font-size: 17.6px;
  font-weight: 300;
  line-height: 28.16px;
  /* 160% */
  letter-spacing: 0.96px;
}

.cart-header__quantuty {
  border-radius: 29.9376px;
  background: rgba(129, 129, 139, 0.3);
  font-size: 14.1px;
  font-weight: 500;
  letter-spacing: 0.96px;
}

.icon-menu {
  display: none;
}

.marketing__container {
  padding-top: 116px;
}

.marketing__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.marketing__content {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}

.marketing__title {
  max-width: 31.625rem;
}

.marketing__text {
  max-width: 30.625rem;
}

.marketing__image {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.image__left img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.image__right img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.itemone {
  border-radius: 50%/29%;
  overflow: hidden;
}

.itemtwo {
  border-radius: 50% 50% 0 50%;
}

.itemthree {
  border-radius: 50% 0 50% 50%;
}

.itemfour {
  border-radius: 50%/29%;
}

.str__body p {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 22.4px;
  /* 160% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__content {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 52%;
      flex-basis: 52%;
}

.items__left {
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.items__item {
  border-radius: 30px;
  background: rgba(129, 129, 139, 0.1);
}

.items__text {
  color: #FFF;
  font-size: 19.2px;
  line-height: 26.88px;
  /* 140% */
}

.items__right {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.brands__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brands__image {
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.brands__right {
  height: 100%;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.brands__right img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  border-radius: 778px 0px 378px 378px;
}

.brands__left {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.brands__left img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 181.438px 181.438px 181.438px 0px;
}

.brands__content {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.brands__title {
  max-width: 35rem;
}

.brands__text {
  max-width: 30.625rem;
}

.brands__list li {
  color: #9C9C9C;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  /* 150% */
}

.brands__list li::before {
  content: "";
  padding: 7.75px 18px 8.25px 18px;
  background: rgba(129, 129, 139, 0.1) url("../img/page-brands/icons.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 32px;
  margin-right: 10px;
}

@media (min-width: 81.875em) {
  .button {
    padding-top: 1rem;
  }

  .button {
    padding-bottom: 1rem;
  }

  .button {
    padding-left: 1.8375rem;
  }

  .button {
    padding-right: 1.83875rem;
  }

  .title {
    font-size: 3.2rem;
  }

  .text {
    font-size: 1.125rem;
  }

  .header__body {
    padding-top: 2rem;
  }

  .header__body {
    padding-bottom: 2rem;
  }

  .header__button {
    margin-right: 1.25rem;
  }

  .menu__list {
    gap: 2.2375rem;
  }

  .menu__list {
    padding-right: 1.75rem;
  }

  .menu__list {
    padding-left: 1.75rem;
  }

  .cart-header {
    padding-right: 2rem;
  }

  .cart-header__quantuty {
    padding-top: 0.5rem;
  }

  .cart-header__quantuty {
    padding-bottom: 0.5rem;
  }

  .cart-header__quantuty {
    padding-left: 0.625rem;
  }

  .cart-header__quantuty {
    padding-right: 0.625rem;
  }

  .marketing__body {
    gap: 2rem;
  }

  .marketing__title {
    font-size: 3.2rem;
  }

  .marketing__title {
    padding-bottom: 1.75rem;
  }

  .marketing__text {
    padding-bottom: 2.0625rem;
  }

  .marketing__text {
    font-size: 1.125rem;
  }

  .marketing__button {
    margin-right: 2rem;
  }

  .marketing__button {
    margin-bottom: 2rem;
  }

  .marketing__image {
    gap: 3.6875rem;
  }

  .image__left {
    gap: 2rem;
  }

  .image__left {
    margin-left: 3.375rem;
  }

  .image__right {
    gap: 2rem;
  }

  .image__right {
    margin-right: 1.6875rem;
  }

  .str__body {
    padding-top: 12.0625rem;
  }

  .str__body {
    padding-bottom: 15.5625rem;
  }

  .services__body {
    gap: 6.5625rem;
  }

  .services__body {
    padding-bottom: 11.4375rem;
  }

  .services__title {
    padding-top: 1.1875rem;
  }

  .services__title {
    padding-bottom: 0.75rem;
  }

  .services__text {
    padding-bottom: 2.0625rem;
  }

  .services__items {
    gap: 2rem;
  }

  .items__left {
    gap: 2rem;
  }

  .items__left {
    padding-top: 3rem;
  }

  .items__left img {
    padding-bottom: 1rem;
  }

  .items__item {
    padding-bottom: 3.5625rem;
  }

  .items__item {
    padding-top: 3.4375rem;
  }

  .items__item {
    padding-right: 1.5625rem;
  }

  .items__item {
    padding-left: 1.5625rem;
  }

  .items__text {
    padding-bottom: 5.9375rem;
  }

  .items__right {
    gap: 2rem;
  }

  .items__right img {
    padding-bottom: 1rem;
  }

  .brands__body {
    gap: 4rem;
  }

  .brands__body {
    padding-bottom: 12rem;
  }

  .brands__content {
    padding-top: 5.6875rem;
  }

  .brands__content {
    padding-bottom: 5.6875rem;
  }

  .brands__title {
    padding-top: 2.6875rem;
  }

  .brands__title {
    padding-bottom: 2.5rem;
  }

  .brands__text {
    padding-bottom: 2.4375rem;
  }

  .brands__list li {
    padding-bottom: 1.5625rem;
  }
}

@media (max-width: 20em) {
  .button {
    padding-top: 0.5rem;
  }

  .button {
    padding-bottom: 0.5rem;
  }

  .button {
    padding-left: 0.9375rem;
  }

  .button {
    padding-right: 0.9375rem;
  }

  .title {
    font-size: 1.5625rem;
  }

  .text {
    font-size: 0.875rem;
  }

  .header__body {
    padding-top: 1rem;
  }

  .header__body {
    padding-bottom: 1rem;
  }

  .header__button {
    margin-right: 0.5rem;
  }

  .menu__list {
    gap: 1rem;
  }

  .menu__list {
    padding-right: 0.875rem;
  }

  .menu__list {
    padding-left: 0.875rem;
  }

  .cart-header {
    padding-right: 0.5rem;
  }

  .cart-header__quantuty {
    padding-top: 0.25rem;
  }

  .cart-header__quantuty {
    padding-bottom: 0.25rem;
  }

  .cart-header__quantuty {
    padding-left: 0.375rem;
  }

  .cart-header__quantuty {
    padding-right: 0.375rem;
  }

  .marketing__body {
    gap: 1rem;
  }

  .marketing__title {
    font-size: 1.5625rem;
  }

  .marketing__title {
    padding-bottom: 0.875rem;
  }

  .marketing__text {
    padding-bottom: 1rem;
  }

  .marketing__text {
    font-size: 0.875rem;
  }

  .marketing__button {
    margin-right: 1rem;
  }

  .marketing__button {
    margin-bottom: 1rem;
  }

  .marketing__image {
    gap: 1.875rem;
  }

  .image__left {
    gap: 1rem;
  }

  .image__left {
    margin-left: 1.6875rem;
  }

  .image__right {
    gap: 1rem;
  }

  .image__right {
    margin-right: 0.8125rem;
  }

  .str__body {
    padding-top: 6.25rem;
  }

  .str__body {
    padding-bottom: 7.8125rem;
  }

  .services__body {
    gap: 3.4375rem;
  }

  .services__body {
    padding-bottom: 5.75rem;
  }

  .services__title {
    padding-top: 0.625rem;
  }

  .services__title {
    padding-bottom: 0.375rem;
  }

  .services__text {
    padding-bottom: 1rem;
  }

  .services__items {
    gap: 1rem;
  }

  .items__left {
    gap: 1rem;
  }

  .items__left {
    padding-top: 1.5rem;
  }

  .items__left img {
    padding-bottom: 0.5rem;
  }

  .items__item {
    padding-bottom: 1.6875rem;
  }

  .items__item {
    padding-top: 1.6875rem;
  }

  .items__item {
    padding-right: 0.75rem;
  }

  .items__item {
    padding-left: 0.75rem;
  }

  .items__text {
    padding-bottom: 2.8125rem;
  }

  .items__right {
    gap: 1rem;
  }

  .items__right img {
    padding-bottom: 0.5rem;
  }

  .brands__body {
    gap: 2rem;
  }

  .brands__body {
    padding-bottom: 5rem;
  }

  .brands__content {
    padding-top: 2.8125rem;
  }

  .brands__content {
    padding-bottom: 2.8125rem;
  }

  .brands__title {
    padding-top: 1.3125rem;
  }

  .brands__title {
    padding-bottom: 1.25rem;
  }

  .brands__text {
    padding-bottom: 1.25rem;
  }

  .brands__list li {
    padding-bottom: 0.75rem;
  }
}

@media (max-width: 47.99875em) {
  .header__body {
    max-height: 80px;
  }

  .header__menu {
    padding-top: 110px;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #9C9C9C;
    overflow: auto;
    z-index: 10;
    padding-top: 110px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 110px;
    top: 0;
    left: -100%;
    background-color: #9C9C9C;
    z-index: 10;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }

  .menu__link {
    font-size: 38px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 12;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #FFF;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.625em) {
  .marketing__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .brands__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 28.75em) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 43px;
    overflow: hidden;
  }
}

@media (min-width: 20em) and (max-width: 81.875em) {
@supports (padding-top: clamp( 0.5rem , 0.3383838384rem  +  0.8080808081vw , 1rem )) {
    .button {
      padding-top: clamp( 0.5rem , 0.3383838384rem  +  0.8080808081vw , 1rem );
    }
}

@supports not (padding-top: clamp( 0.5rem , 0.3383838384rem  +  0.8080808081vw , 1rem )) {
    .button {
      padding-top: calc(0.5rem + 0.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 0.5rem , 0.3383838384rem  +  0.8080808081vw , 1rem )) {
    .button {
      padding-bottom: clamp( 0.5rem , 0.3383838384rem  +  0.8080808081vw , 1rem );
    }
}

@supports not (padding-bottom: clamp( 0.5rem , 0.3383838384rem  +  0.8080808081vw , 1rem )) {
    .button {
      padding-bottom: calc(0.5rem + 0.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-left: clamp( 0.9375rem , 0.6465909091rem  +  1.4545454545vw , 1.8375rem )) {
    .button {
      padding-left: clamp( 0.9375rem , 0.6465909091rem  +  1.4545454545vw , 1.8375rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , 0.6465909091rem  +  1.4545454545vw , 1.8375rem )) {
    .button {
      padding-left: calc(0.9375rem + 0.9 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-right: clamp( 0.9375rem , 0.6461868687rem  +  1.4565656566vw , 1.83875rem )) {
    .button {
      padding-right: clamp( 0.9375rem , 0.6461868687rem  +  1.4565656566vw , 1.83875rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , 0.6461868687rem  +  1.4565656566vw , 1.83875rem )) {
    .button {
      padding-right: calc(0.9375rem + 0.90125 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.0332070707rem  +  2.6464646465vw , 3.2rem )) {
    .title {
      font-size: clamp( 1.5625rem , 1.0332070707rem  +  2.6464646465vw , 3.2rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.0332070707rem  +  2.6464646465vw , 3.2rem )) {
    .title {
      font-size: calc(1.5625rem + 1.6375 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7941919192rem  +  0.404040404vw , 1.125rem )) {
    .text {
      font-size: clamp( 0.875rem , 0.7941919192rem  +  0.404040404vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7941919192rem  +  0.404040404vw , 1.125rem )) {
    .text {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem )) {
    .header__body {
      padding-top: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem );
    }
}

@supports not (padding-top: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem )) {
    .header__body {
      padding-top: calc(1rem + 1 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem )) {
    .header__body {
      padding-bottom: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem );
    }
}

@supports not (padding-bottom: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem )) {
    .header__body {
      padding-bottom: calc(1rem + 1 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-right: clamp( 0.5rem , 0.2575757576rem  +  1.2121212121vw , 1.25rem )) {
    .header__button {
      margin-right: clamp( 0.5rem , 0.2575757576rem  +  1.2121212121vw , 1.25rem );
    }
}

@supports not (margin-right: clamp( 0.5rem , 0.2575757576rem  +  1.2121212121vw , 1.25rem )) {
    .header__button {
      margin-right: calc(0.5rem + 0.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1rem , 0.6rem  +  2vw , 2.2375rem )) {
    .menu__list {
      gap: clamp( 1rem , 0.6rem  +  2vw , 2.2375rem );
    }
}

@supports not (gap: clamp( 1rem , 0.6rem  +  2vw , 2.2375rem )) {
    .menu__list {
      gap: calc(1rem + 1.2375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-right: clamp( 0.875rem , 0.5921717172rem  +  1.4141414141vw , 1.75rem )) {
    .menu__list {
      padding-right: clamp( 0.875rem , 0.5921717172rem  +  1.4141414141vw , 1.75rem );
    }
}

@supports not (padding-right: clamp( 0.875rem , 0.5921717172rem  +  1.4141414141vw , 1.75rem )) {
    .menu__list {
      padding-right: calc(0.875rem + 0.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-left: clamp( 0.875rem , 0.5921717172rem  +  1.4141414141vw , 1.75rem )) {
    .menu__list {
      padding-left: clamp( 0.875rem , 0.5921717172rem  +  1.4141414141vw , 1.75rem );
    }
}

@supports not (padding-left: clamp( 0.875rem , 0.5921717172rem  +  1.4141414141vw , 1.75rem )) {
    .menu__list {
      padding-left: calc(0.875rem + 0.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-right: clamp( 0.5rem , 0.0151515152rem  +  2.4242424242vw , 2rem )) {
    .cart-header {
      padding-right: clamp( 0.5rem , 0.0151515152rem  +  2.4242424242vw , 2rem );
    }
}

@supports not (padding-right: clamp( 0.5rem , 0.0151515152rem  +  2.4242424242vw , 2rem )) {
    .cart-header {
      padding-right: calc(0.5rem + 1.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 0.25rem , 0.1691919192rem  +  0.404040404vw , 0.5rem )) {
    .cart-header__quantuty {
      padding-top: clamp( 0.25rem , 0.1691919192rem  +  0.404040404vw , 0.5rem );
    }
}

@supports not (padding-top: clamp( 0.25rem , 0.1691919192rem  +  0.404040404vw , 0.5rem )) {
    .cart-header__quantuty {
      padding-top: calc(0.25rem + 0.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 0.25rem , 0.1691919192rem  +  0.404040404vw , 0.5rem )) {
    .cart-header__quantuty {
      padding-bottom: clamp( 0.25rem , 0.1691919192rem  +  0.404040404vw , 0.5rem );
    }
}

@supports not (padding-bottom: clamp( 0.25rem , 0.1691919192rem  +  0.404040404vw , 0.5rem )) {
    .cart-header__quantuty {
      padding-bottom: calc(0.25rem + 0.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-left: clamp( 0.375rem , 0.2941919192rem  +  0.404040404vw , 0.625rem )) {
    .cart-header__quantuty {
      padding-left: clamp( 0.375rem , 0.2941919192rem  +  0.404040404vw , 0.625rem );
    }
}

@supports not (padding-left: clamp( 0.375rem , 0.2941919192rem  +  0.404040404vw , 0.625rem )) {
    .cart-header__quantuty {
      padding-left: calc(0.375rem + 0.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-right: clamp( 0.375rem , 0.2941919192rem  +  0.404040404vw , 0.625rem )) {
    .cart-header__quantuty {
      padding-right: clamp( 0.375rem , 0.2941919192rem  +  0.404040404vw , 0.625rem );
    }
}

@supports not (padding-right: clamp( 0.375rem , 0.2941919192rem  +  0.404040404vw , 0.625rem )) {
    .cart-header__quantuty {
      padding-right: calc(0.375rem + 0.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem )) {
    .marketing__body {
      gap: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem );
    }
}

@supports not (gap: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem )) {
    .marketing__body {
      gap: calc(1rem + 1 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.0332070707rem  +  2.6464646465vw , 3.2rem )) {
    .marketing__title {
      font-size: clamp( 1.5625rem , 1.0332070707rem  +  2.6464646465vw , 3.2rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.0332070707rem  +  2.6464646465vw , 3.2rem )) {
    .marketing__title {
      font-size: calc(1.5625rem + 1.6375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 0.875rem , 0.5921717172rem  +  1.4141414141vw , 1.75rem )) {
    .marketing__title {
      padding-bottom: clamp( 0.875rem , 0.5921717172rem  +  1.4141414141vw , 1.75rem );
    }
}

@supports not (padding-bottom: clamp( 0.875rem , 0.5921717172rem  +  1.4141414141vw , 1.75rem )) {
    .marketing__title {
      padding-bottom: calc(0.875rem + 0.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1rem , 0.6565656566rem  +  1.7171717172vw , 2.0625rem )) {
    .marketing__text {
      padding-bottom: clamp( 1rem , 0.6565656566rem  +  1.7171717172vw , 2.0625rem );
    }
}

@supports not (padding-bottom: clamp( 1rem , 0.6565656566rem  +  1.7171717172vw , 2.0625rem )) {
    .marketing__text {
      padding-bottom: calc(1rem + 1.0625 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7941919192rem  +  0.404040404vw , 1.125rem )) {
    .marketing__text {
      font-size: clamp( 0.875rem , 0.7941919192rem  +  0.404040404vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7941919192rem  +  0.404040404vw , 1.125rem )) {
    .marketing__text {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-right: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem )) {
    .marketing__button {
      margin-right: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem );
    }
}

@supports not (margin-right: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem )) {
    .marketing__button {
      margin-right: calc(1rem + 1 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem )) {
    .marketing__button {
      margin-bottom: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem )) {
    .marketing__button {
      margin-bottom: calc(1rem + 1 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1.875rem , 1.2891414141rem  +  2.9292929293vw , 3.6875rem )) {
    .marketing__image {
      gap: clamp( 1.875rem , 1.2891414141rem  +  2.9292929293vw , 3.6875rem );
    }
}

@supports not (gap: clamp( 1.875rem , 1.2891414141rem  +  2.9292929293vw , 3.6875rem )) {
    .marketing__image {
      gap: calc(1.875rem + 1.8125 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem )) {
    .image__left {
      gap: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem );
    }
}

@supports not (gap: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem )) {
    .image__left {
      gap: calc(1rem + 1 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-left: clamp( 1.6875rem , 1.1420454545rem  +  2.7272727273vw , 3.375rem )) {
    .image__left {
      margin-left: clamp( 1.6875rem , 1.1420454545rem  +  2.7272727273vw , 3.375rem );
    }
}

@supports not (margin-left: clamp( 1.6875rem , 1.1420454545rem  +  2.7272727273vw , 3.375rem )) {
    .image__left {
      margin-left: calc(1.6875rem + 1.6875 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem )) {
    .image__right {
      gap: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem );
    }
}

@supports not (gap: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem )) {
    .image__right {
      gap: calc(1rem + 1 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-right: clamp( 0.8125rem , 0.5296717172rem  +  1.4141414141vw , 1.6875rem )) {
    .image__right {
      margin-right: clamp( 0.8125rem , 0.5296717172rem  +  1.4141414141vw , 1.6875rem );
    }
}

@supports not (margin-right: clamp( 0.8125rem , 0.5296717172rem  +  1.4141414141vw , 1.6875rem )) {
    .image__right {
      margin-right: calc(0.8125rem + 0.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 6.25rem , 4.3712121212rem  +  9.3939393939vw , 12.0625rem )) {
    .str__body {
      padding-top: clamp( 6.25rem , 4.3712121212rem  +  9.3939393939vw , 12.0625rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 4.3712121212rem  +  9.3939393939vw , 12.0625rem )) {
    .str__body {
      padding-top: calc(6.25rem + 5.8125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 7.8125rem , 5.3074494949rem  +  12.5252525253vw , 15.5625rem )) {
    .str__body {
      padding-bottom: clamp( 7.8125rem , 5.3074494949rem  +  12.5252525253vw , 15.5625rem );
    }
}

@supports not (padding-bottom: clamp( 7.8125rem , 5.3074494949rem  +  12.5252525253vw , 15.5625rem )) {
    .str__body {
      padding-bottom: calc(7.8125rem + 7.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 3.4375rem , 2.4273989899rem  +  5.0505050505vw , 6.5625rem )) {
    .services__body {
      gap: clamp( 3.4375rem , 2.4273989899rem  +  5.0505050505vw , 6.5625rem );
    }
}

@supports not (gap: clamp( 3.4375rem , 2.4273989899rem  +  5.0505050505vw , 6.5625rem )) {
    .services__body {
      gap: calc(3.4375rem + 3.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 5.75rem , 3.9116161616rem  +  9.1919191919vw , 11.4375rem )) {
    .services__body {
      padding-bottom: clamp( 5.75rem , 3.9116161616rem  +  9.1919191919vw , 11.4375rem );
    }
}

@supports not (padding-bottom: clamp( 5.75rem , 3.9116161616rem  +  9.1919191919vw , 11.4375rem )) {
    .services__body {
      padding-bottom: calc(5.75rem + 5.6875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.4431818182rem  +  0.9090909091vw , 1.1875rem )) {
    .services__title {
      padding-top: clamp( 0.625rem , 0.4431818182rem  +  0.9090909091vw , 1.1875rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.4431818182rem  +  0.9090909091vw , 1.1875rem )) {
    .services__title {
      padding-top: calc(0.625rem + 0.5625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 0.375rem , 0.2537878788rem  +  0.6060606061vw , 0.75rem )) {
    .services__title {
      padding-bottom: clamp( 0.375rem , 0.2537878788rem  +  0.6060606061vw , 0.75rem );
    }
}

@supports not (padding-bottom: clamp( 0.375rem , 0.2537878788rem  +  0.6060606061vw , 0.75rem )) {
    .services__title {
      padding-bottom: calc(0.375rem + 0.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1rem , 0.6565656566rem  +  1.7171717172vw , 2.0625rem )) {
    .services__text {
      padding-bottom: clamp( 1rem , 0.6565656566rem  +  1.7171717172vw , 2.0625rem );
    }
}

@supports not (padding-bottom: clamp( 1rem , 0.6565656566rem  +  1.7171717172vw , 2.0625rem )) {
    .services__text {
      padding-bottom: calc(1rem + 1.0625 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem )) {
    .services__items {
      gap: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem );
    }
}

@supports not (gap: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem )) {
    .services__items {
      gap: calc(1rem + 1 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem )) {
    .items__left {
      gap: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem );
    }
}

@supports not (gap: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem )) {
    .items__left {
      gap: calc(1rem + 1 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.5rem , 1.0151515152rem  +  2.4242424242vw , 3rem )) {
    .items__left {
      padding-top: clamp( 1.5rem , 1.0151515152rem  +  2.4242424242vw , 3rem );
    }
}

@supports not (padding-top: clamp( 1.5rem , 1.0151515152rem  +  2.4242424242vw , 3rem )) {
    .items__left {
      padding-top: calc(1.5rem + 1.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 0.5rem , 0.3383838384rem  +  0.8080808081vw , 1rem )) {
    .items__left img {
      padding-bottom: clamp( 0.5rem , 0.3383838384rem  +  0.8080808081vw , 1rem );
    }
}

@supports not (padding-bottom: clamp( 0.5rem , 0.3383838384rem  +  0.8080808081vw , 1rem )) {
    .items__left img {
      padding-bottom: calc(0.5rem + 0.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.6875rem , 1.0814393939rem  +  3.0303030303vw , 3.5625rem )) {
    .items__item {
      padding-bottom: clamp( 1.6875rem , 1.0814393939rem  +  3.0303030303vw , 3.5625rem );
    }
}

@supports not (padding-bottom: clamp( 1.6875rem , 1.0814393939rem  +  3.0303030303vw , 3.5625rem )) {
    .items__item {
      padding-bottom: calc(1.6875rem + 1.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.6875rem , 1.1218434343rem  +  2.8282828283vw , 3.4375rem )) {
    .items__item {
      padding-top: clamp( 1.6875rem , 1.1218434343rem  +  2.8282828283vw , 3.4375rem );
    }
}

@supports not (padding-top: clamp( 1.6875rem , 1.1218434343rem  +  2.8282828283vw , 3.4375rem )) {
    .items__item {
      padding-top: calc(1.6875rem + 1.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-right: clamp( 0.75rem , 0.4873737374rem  +  1.3131313131vw , 1.5625rem )) {
    .items__item {
      padding-right: clamp( 0.75rem , 0.4873737374rem  +  1.3131313131vw , 1.5625rem );
    }
}

@supports not (padding-right: clamp( 0.75rem , 0.4873737374rem  +  1.3131313131vw , 1.5625rem )) {
    .items__item {
      padding-right: calc(0.75rem + 0.8125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-left: clamp( 0.75rem , 0.4873737374rem  +  1.3131313131vw , 1.5625rem )) {
    .items__item {
      padding-left: clamp( 0.75rem , 0.4873737374rem  +  1.3131313131vw , 1.5625rem );
    }
}

@supports not (padding-left: clamp( 0.75rem , 0.4873737374rem  +  1.3131313131vw , 1.5625rem )) {
    .items__item {
      padding-left: calc(0.75rem + 0.8125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 2.8125rem , 1.8023989899rem  +  5.0505050505vw , 5.9375rem )) {
    .items__text {
      padding-bottom: clamp( 2.8125rem , 1.8023989899rem  +  5.0505050505vw , 5.9375rem );
    }
}

@supports not (padding-bottom: clamp( 2.8125rem , 1.8023989899rem  +  5.0505050505vw , 5.9375rem )) {
    .items__text {
      padding-bottom: calc(2.8125rem + 3.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem )) {
    .items__right {
      gap: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem );
    }
}

@supports not (gap: clamp( 1rem , 0.6767676768rem  +  1.6161616162vw , 2rem )) {
    .items__right {
      gap: calc(1rem + 1 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 0.5rem , 0.3383838384rem  +  0.8080808081vw , 1rem )) {
    .items__right img {
      padding-bottom: clamp( 0.5rem , 0.3383838384rem  +  0.8080808081vw , 1rem );
    }
}

@supports not (padding-bottom: clamp( 0.5rem , 0.3383838384rem  +  0.8080808081vw , 1rem )) {
    .items__right img {
      padding-bottom: calc(0.5rem + 0.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 2rem , 1.3535353535rem  +  3.2323232323vw , 4rem )) {
    .brands__body {
      gap: clamp( 2rem , 1.3535353535rem  +  3.2323232323vw , 4rem );
    }
}

@supports not (gap: clamp( 2rem , 1.3535353535rem  +  3.2323232323vw , 4rem )) {
    .brands__body {
      gap: calc(2rem + 2 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 5rem , 2.7373737374rem  +  11.3131313131vw , 12rem )) {
    .brands__body {
      padding-bottom: clamp( 5rem , 2.7373737374rem  +  11.3131313131vw , 12rem );
    }
}

@supports not (padding-bottom: clamp( 5rem , 2.7373737374rem  +  11.3131313131vw , 12rem )) {
    .brands__body {
      padding-bottom: calc(5rem + 7 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 2.8125rem , 1.8832070707rem  +  4.6464646465vw , 5.6875rem )) {
    .brands__content {
      padding-top: clamp( 2.8125rem , 1.8832070707rem  +  4.6464646465vw , 5.6875rem );
    }
}

@supports not (padding-top: clamp( 2.8125rem , 1.8832070707rem  +  4.6464646465vw , 5.6875rem )) {
    .brands__content {
      padding-top: calc(2.8125rem + 2.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 2.8125rem , 1.8832070707rem  +  4.6464646465vw , 5.6875rem )) {
    .brands__content {
      padding-bottom: clamp( 2.8125rem , 1.8832070707rem  +  4.6464646465vw , 5.6875rem );
    }
}

@supports not (padding-bottom: clamp( 2.8125rem , 1.8832070707rem  +  4.6464646465vw , 5.6875rem )) {
    .brands__content {
      padding-bottom: calc(2.8125rem + 2.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.3125rem , 0.8680555556rem  +  2.2222222222vw , 2.6875rem )) {
    .brands__title {
      padding-top: clamp( 1.3125rem , 0.8680555556rem  +  2.2222222222vw , 2.6875rem );
    }
}

@supports not (padding-top: clamp( 1.3125rem , 0.8680555556rem  +  2.2222222222vw , 2.6875rem )) {
    .brands__title {
      padding-top: calc(1.3125rem + 1.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem )) {
    .brands__title {
      padding-bottom: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem )) {
    .brands__title {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.8661616162rem  +  1.9191919192vw , 2.4375rem )) {
    .brands__text {
      padding-bottom: clamp( 1.25rem , 0.8661616162rem  +  1.9191919192vw , 2.4375rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.8661616162rem  +  1.9191919192vw , 2.4375rem )) {
    .brands__text {
      padding-bottom: calc(1.25rem + 1.1875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 0.75rem , 0.4873737374rem  +  1.3131313131vw , 1.5625rem )) {
    .brands__list li {
      padding-bottom: clamp( 0.75rem , 0.4873737374rem  +  1.3131313131vw , 1.5625rem );
    }
}

@supports not (padding-bottom: clamp( 0.75rem , 0.4873737374rem  +  1.3131313131vw , 1.5625rem )) {
    .brands__list li {
      padding-bottom: calc(0.75rem + 0.8125 * (100vw - 20rem) / 61.875);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background: rgba(129, 129, 139, 0.2);
  }
}